@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #000000;
    --foreground: #ffffff;
    --font-title: Montserrat;
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: Open-sans;
  
  }

  @layer utilities {
    .main-titles-font {
      font-family: var(--font-title);
    }
    .custom-background {
      width: 100%;
      height: 80vh;
      margin-top: 90px;
      position: relative;
    
      background-image: url('/src/assets/images/background-avatar.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    
      display: flex;
      align-items: center;
     
    }
  }

  @layer containers {
    .centered-containers {
      display: flex;
      justify-content: center;
      align-items: center;
    }
   
  }
